* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.main-color {
    background-color: #FFE7EE;
}

#border {
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px 20px;
    background-color: #FF4F82;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.top {
    display: flex;
    align-items: center;
    gap: 25px;
}

.border-a i,
.border-b i {
    color: #00A8FF;
    margin-right: 8px;
}

.bottom-top {
    display: flex;
    gap: 12px;
}

.top-1 a {
    text-decoration: none;
    display: inline-block;
}

.top-1 a i {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3B5998;
    font-size: 16px;
    border: none;
}

.top-1 a i:hover {
    background-color: #ffffff;
    color: #FF4F82;
}


/* ===== Navigation Bar Area ===== */

.logo-pink {
    color: #FF4F82;
    font-size: 32px;
    font-weight: 700;
}

.logo-blue {
    color: #3B4FFF;
    font-size: 32px;
    font-weight: 700;
}


.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #444 !important;
}

.nav-link:hover,
.nav-link.active {
    color: #FF4F82 !important;
}

.contact-info {
    border-right: 1px solid #FF4F82;
    padding-right: 10px;
}

.contact-icon {
    font-size: 32px;
    color: #FF4F82;
}

.contact-title {
    margin: 0;
    font-weight: 600;
    color: #444;
}

.contact-number {
    margin: 0;
    color: #3B4FFF;
}

.search-circle {
    width: 40px;
    height: 40px;
    background: #FF4F82;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.search-circle:hover {
    background: #ff2b69;
}


/* hero-image */


.hero-section {
    height: 100vh;
    background: url(/image/hero-img.jpg) no-repeat center center/cover;
    position: relative;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.hero-text {
    position: relative;
    z-index: 2;
}

.btn-pink {
    background-color: #ff4e80;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    border: none;
}

.btn-pink:hover {
    background-color: blue;
    color: #ff4e80;

}

.btn-light {
    background-color: #ff4e80;
    border: none;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 600;
}

.btn-light:hover {
    background-color: blue;
    color: #ff4e80;
}




/* BACKGROUND IMAGE */


.about-section {
    position: relative;
    background: url("/image/background.jpg") no-repeat center/cover;
    padding: 80px 0;
}

.about-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
}

.container {
    position: relative;
    z-index: 2;
}

.about-title {
    color: #ff4e80;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
}

.about-title::after {
    content: "";
    width: 70%;
    height: 3px;
    background: #ff4e80;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 6px;
}

.about-heading {
    color: #1d1d1d;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.3;
}

.about-image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 45px;
}

.about-img {
    width: 100%;
    border-radius: 45px;
}

.play-btn {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #ff4e80;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 20px rgba(255, 78, 128, 0.5);
    cursor: pointer;
}

.play-btn i {
    color: #fff;
    font-size: 40px;
}

.feature {
    font-weight: 600;
    color: #333;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: white;
    font-size: 16px;
}

.icon.blue {
    background-color: #4a7bff;
}

.icon.pink {
    background-color: #ff4e80;
}

.more-detail {
    background-color: #ff4e80;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    text-decoration: none;
    display: inline-block;
}


.more-detail:hover {
    background-color: blue;
    box-shadow: 0px 10px 25px rgba(255, 78, 128, 0.5);
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.9s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


/* what we do section  */

.what-we-do-section {
    background: #ffeeee;
    padding-top: 80px;
    padding-bottom: 80px;
}

.small-title {
    font-size: 20px;
    font-weight: 600;
    color: #ff4e80;
    position: relative;
    display: inline-block;
}

.small-title::after {
    content: "";
    width: 120px;
    height: 3px;
    background: #ff4e80;
    display: block;
    margin: 5px auto 0 auto;
    border-radius: 50px;
}

.main-heading {
    font-size: 48px;
    line-height: 1.3;
    color: #2b3170;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .main-heading {
        font-size: 34px;
    }
}


/* card 1.2.3.4  what we do */

.service-card {
    background: #fff;
    padding: 40px 25px;
    border-radius: 80px 80px 150px 150px;
    text-align: center;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08);
    transition: .3s;
    height: 100%;
}

.service-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
}

.service-card i {
    font-size: 70px;
    color: #ff2d77;
    margin-bottom: 20px;
}

.service-card h3 {
    font-weight: 700;
    color: #1a1a40;
    margin-bottom: 20px;
}

.service-card p {
    color: #555;
    font-size: 15px;
    margin-bottom: 35px;
}

.read-btn {
    background: #ff2d77;
    color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
}

.read-btn:hover {
    background: #ff155f;
    color: #fff;
}



/* our program  */

.small-title {
    font-size: 20px;
    color: #ff2d77;
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.small-title::after {
    content: "";
    width: 120px;
    height: 4px;
    background: #ff2d77;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    opacity: 0.6;
}

.big-heading {
    font-size: 55px;
    font-weight: 800;
    color: #2e3168;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .big-heading {
        font-size: 36px;
    }
}





.course-card {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-img {
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.course-img img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    transition: transform 0.6s ease;
}

.course-card:hover .course-img img {
    transform: scale(1.12);
}

.price-tag {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff2d77;
    color: #fff;
    font-weight: 600;
    padding: 7px 25px;
    border-radius: 30px;
    font-size: 15px;
     z-index: 10; 
       box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.course-content {
    padding: 25px;
}

.course-title {
    font-size: 22px;
    font-weight: 700;
    color: #222c5c;
}

.course-content p {
    color: #555;
    margin-top: 12px;
    line-height: 1.5;
}

.author-box {
    border-top: 2px solid #ff99b7;
    padding: 18px 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.author-box img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ff2d77;
}

.bottom-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    background: #ff2d77;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bottom-bar i {
    margin-right: 6px;
}

/* button  */

.view-btn {
    display: inline-block;
    background: #FF4F7B;
    color: white;
    padding: 12px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 5px 18px rgba(255, 0, 70, 0.3);
}

.view-btn:hover {
    background: #ff2f65;
    transform: translateY(-3px);
}
